TZ=your_timezone

## wg-easy
# ⚠️ Change the server's hostname (clients will connect to):
WG_HOST=your.domain.com
# ⚠️ Change the Web UI Password (https://github.com/wg-easy/wg-easy/blob/master/How_to_generate_an_bcrypt_hash.md):
PASSWORD_HASH=your_ui_pass
# 💡 This is the AdGuard Home container's IP address
WG_DEFAULT_DNS=172.30.0.3
## For split tunnel use
# WG_ALLOWED_IPS=192.168.0.0/24,10.8.0.0/24
WG_PERSISTENT_KEEPALIVE=25
PORT=your_port
WG_PORT=your_port
# Optional:
# WG_DEFAULT_ADDRESS=10.8.0.x
# WG_MTU=1420
# WG_PERSISTENT_KEEPALIVE=25
# WG_PRE_UP=echo "Pre Up" > /etc/wireguard/pre-up.txt
# WG_POST_UP=echo "Post Up" > /etc/wireguard/post-up.txt
# WG_PRE_DOWN=echo "Pre Down" > /etc/wireguard/pre-down.txt
# WG_POST_DOWN=echo "Post Down" > /etc/wireguard/post-down.txt
# UI_TRAFFIC_STATS=true
# UI_CHART_TYPE=0 # (0 Charts disabled, 1 # Line chart, 2 # Area chart, 3 # Bar chart)

## Watchtower
WATCHTOWER_CLEANUP=true
# TODO: Watchtower token env var seems to have a bug on prometheus.yml, change this constant if you want
# This will be omitted since prometheus is not here
#WATCHTOWER_HTTP_API_METRICS=true
#WATCHTOWER_HTTP_API_TOKEN=nVDwNXfZiSVpYz97kdVk
# scheduled for 1am each day
WATCHTOWER_SCHEDULE="0 0 1 * * *"
# Optional
# If you want notifications via discord, slack, etc
WATCHTOWER_NOTIFICATION_URL="discord://token@channel"
# monitor only for testing purposes
#WATCHTOWER_MONITOR_ONLY=true

## Duckdns
SUBDOMAINS=your-subdomain
TOKEN=your-token

## Beszel
BESZEL_KEY='your_ssh_key'
BESZEL_HUB_URL=http://your_ip:8090

# TinyAuth
APP_URL=https://tinyauth.example.com
USERS=user:$$2a$$10$$UdLYoJ5lgPsC0RKqYH/jMua7zIn0g9kPqWmhYayJYLaZQ/FTmH2/u # user:password
PROVIDERS_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
PROVIDERS_GOOGLE_CLIENT_SECRET=your_google_client_secret
